<div id="map">
    <!-- <google-map></google-map> -->
</div>

<div class="container mt-4 pb-4" style="margin-bottom: 10%;">
    <div class="row">  
        <div class="col-12">
            <p>Contact Us</p>
    <p style="color: #a09e9c;">Contact Information</p>

        </div>
   
   </div>

    <form action="#" method="post"> 

            <div class="row">
                <div class="col-6">
                    <label for="name">Name</label><i class="fas fa-star-of-life"></i><br>
                    <input id="name" type="text" required name="name">
                </div>

                <div class="col-6">
                    <label for="email">Email</label><i class="fas fa-star-of-life"></i><br>
            <input id="email" type="email" required name="email">
                </div>
            </div>
        
    <div class="row">
                <label for="phone" >Telephone</label>
                <input id="phone" type="tel" name="phone"><br>

                <label for="comment">Comment<i class="fas fa-star-of-life"></i></label><br>
                <textarea cols="50" rows="6" required style="width: 100%;"></textarea>
               
            </div>
            <div style="float: right;margin-top: 4%;">
                <p style="color: red;font-size: 10px;margin-bottom: 0%;"><i class="fas fa-star-of-life"></i> Required fields</p>
                <input type="submit">
            </div>
            
                         
            
        </form> 

</div>
