.headline{
    color: #484747;
    padding-bottom: 5px;
  }
  .orders{
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    text-align: center;
  }
  .titles{
    font-weight: 600;
    padding: 10px 10px;
    color: #777;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0px;
  }
  img{
    width: 70%;
    height: 80%;
    padding-top: 20px;
  }
  .products-data{
    border: 1px solid #ddd;
    text-align: center;
    padding-bottom: 20px;
}
.cart{
    background-color: white;
    color: #61605a;
     font-weight: 600;
     font-size: 20px;
     text-align: center;
     font-family:mOswald;
     height: 50px;
     /* padding-top: 75px; */
     border: 1px solid #ddd;
     margin: 0px;
     width: 100%;
     
  }
 .regular-price {
    font-weight: 400;
    color: #21293c;
    font-size: 30px;
    padding-top: 50px;
 }
 button:hover{
    background-color:#b1e2ff ;
  }
  .chekout{
    background-color: #b1e2ff;
    color: #61605a;
     font-weight: 600;
     font-size: 14px;
     /* text-align: right; */
     /* text-align: center; */
     font-family:mOswald;
     height: 50px;
     padding: 15px;
     border:#ddd 2px solid ;
     
  }
  a{
  color: #21293c;
  padding-top: 20px;
  text-decoration: none;    
  }
  a:hover{
    color: orange;
  }