<br>
<br>
<br>
<br>
<div class="container">
    <div class="row" class="headline">
        <h1>My Wishlist</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-3  col-md-12 orders">
                    <h3 class="titles">IMGE</h3>
                </div>
                <div class="col-lg-5 col-md-12 orders">
                    <h3 class="titles">PRODUCT DETAILS AND COMMENT</h3>
                </div>
                <div class="col-lg-3 col-md-12 orders">
                    <h3 class="titles">ADD TO CART</h3>
                </div>
                <div class="col-lg-1 col-md-12 orders">
                    <h3 class="titles">DELETE</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3  col-md-12  products-data">
                    <img src="../../../../assets/images/annisa-ica-2hrKrytSI1Q-unsplash.jpg">
                </div>
                <div class="col-lg-5 col-md-12 products-data">
                    <h3 style="padding-top: 10px;">Metal Box-Flower</h3>
                    <textarea id="comment" name="comment" placeholder="Please,entry your comments ..." rows="7"
                        cols="70" style="border-color: #a0a095;"></textarea>
                </div>
                <div class="col-lg-3 col-md-12  products-data">
                    <p class="regular-price">EGP65</p>
                    <div style="padding-top: 10px;padding-bottom: 10px;">
                        <span>
                            <button style="text-align: center;width: 25%;padding: 10px;border-spacing: #ddd;">-</button>
                        </span>
                        <span>
                            <input type="text" id="quantity" name="quantity" value="1"
                                style="text-align: center;width: 25%;padding: 10px;border-spacing: #ddd;">
                        </span>
                        <span>
                            <button style="text-align: center;width: 25%;padding: 10px;border-spacing: #ddd;">+</button>
                        </span>
                    </div>
                    <button class="cart">ADD CART</button>
                    <i class="fas fa-pencil-alt" style="padding-top: 10px;"></i>
                </div>
                <div class="col-lg-1 col-md-12 products-data">
                    <div style="padding-top: 75px;">
                        <button class="cart">x</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="text-align: center;padding-top: 30px;" class="">
            <div class="col-lg-3 col-md-12" style="padding-top: 20px ;float: right;"><button class="chekout">UPDATE WISHLIST</button></div>
            <div class="col-lg-3 col-md-12" style="padding-top: 20px ;float: right;"><button class="chekout">ADD TO CHECKOUT</button></div>
            <div class="col-lg-3 col-md-12" style="padding-top: 20px ;float: right;"><button class="chekout">SHARE WISHLIST</button></div>   
        </div> 

    </div>
    <div class="row">
        <a href="#">>>Back</a>
    </div>

</div>