<br>
<br>
<br>
<br>
<div class="container">
    <div class="row" class="headline">
        <h1>Forgot Your Password?</h1>
    </div>
    <div class="row shadow-sm p-3 mb-5 bg-white " style="border-top: 5px solid #21293c;">
        
        <div class="container ">
            <h2 class="new">RETRIEVE YOUR PASSWORD HERE</h2>
            <br>
            <h3 class="new">Please enter your email address below. You will receive a link to reset your password.</h3>
            <br>
            <p>* Required Fields</p>
            <form action="">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address <em>*</em></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <br>
                  <br>
                <div>
                    <a href="#"><< Back to Login</a>
                    <p>
                    <button>SUBMIT</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
  </div>

