<div class=" row" id="footer" >
    <div class="col-4 link">
        <h3>IMPORTANT LINKS</h3>
        <ul>
            <li><i class="fas fa-caret-right arrow"></i><a href="#">About us</a></li>
            <li><i class="fas fa-caret-right arrow"></i><a href="#">Contact us</a></li>
            <li><i class="fas fa-caret-right arrow"></i><a href="#">My account</a></li>
            <li><i class="fas fa-caret-right arrow"></i><a href="#">Order history</a></li>
            <li><i class="fas fa-caret-right arrow"></i><a href="#">Advanced search</a></li>
        </ul>
    </div>
    <div class="col-4">
     <h3>CONTACT INFORMATION</h3>
     <div class="row info">
         <div class ="col-2"><i class="fas fa-map-marker-alt"></i></div>
         <div class ="col-10">
             <p>Heas Office address :<br>
             Makram Ebeid,nasr city,cairo,egypt.</p>
         </div>
     </div>
     <hr>

     <div class="row info">
        <div class ="col-2"><i class="fas fa-phone-alt"></i></div>
        <div class ="col-10">
            <p>
                Phone :<br>01234567899<br>0123987465
            </p>
        </div>
    </div>
    <hr>

    
    <div class="row info">
        <div class ="col-2"><i class="fas fa-envelope"></i></div>
        <div class ="col-10">
            <p> Email : <br>
        
            <a href="support@logoname.com">
               support@logoname.com
            </a>
        </p>
        </div>
    </div>
    <hr>

    <div class="row info">
        <div class ="col-2"><i class="far fa-clock"></i></div>
        <div class ="col-10">
            <p>
                Head Office working Days/Hours:<br>Saturday - Thursday /10:00AM - 5:00PM
            </p>
        </div>
    </div>
 


    </div>
    <div class="col-4">

        <h3>BE THE FIRST TO KNOW</h3>

        <p>Get all the latest information on Events,
            <br>
            Sales and Offers. Sign up for newsletter today.
        </p>

        <div id="giveEmail">
            <p>Enter your name e-mail Address</p>
            <form action="#" method="POST">
                <input type="email" name="email">
                <input type="submit" value="SUBMIT">
            </form>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-1" style="padding-top: 5%;">
      <a href="top"><i class="fas fa-caret-square-up upButtom"></i></a>  
    </div>


    <div class="col-2" style="padding-top: 3%;padding-left: 5%;">
        <div class="row" style="margin: 0%;">
            <div class="col-12" >
                <a href="#" style="padding-right: 4%;"><i class="fab fa-facebook-square " style="font-size: 20px;" ></i></a>
                <a href="#" ><i class="fab fa-facebook-square " style="font-size: 20px;" ></i></a>

            </div>
                    <!-- <i class="fab fa-instagram-square"></i> -->
        </div>
    </div>


    <div class="col-6" style="padding-left: 4%;padding-top: 2%;margin-left: 0%;padding-right: 0%;">
        <div class="row">
            <img src="../../../assets/images/payments3 (1).png">
            <!-- <img src="../../../assets/images/cash-on-delivery-png-5-png-image-cash-on-delivery-png-350_200.png">
            <img src="../../../assets/images/580b57fcd9996e24bc43c530.png">
            <img src="../../../assets/images/cardit-cards-transparent.png"> -->


        </div>
    </div>


    <div class="col-3" style="margin-left: 0%;padding-top: 3%;">
        <p>©logoName 2021. All Rights Reserved.</p>
    </div>
    
</div>