<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="container-fluid">
                <div class="row" class="headline">
                    <h1>Shopping Cart</h1>
                </div>
                <div class="row shadow-sm p-3 mb-5 bg-white orders">
                    <div class="container-fluid">
                        <div class="row d-md-none d-lg-block">
                            <div>
                                <div class="row hidden-md" style="text-align: center;">
                                    <div class="col-sm-2">
                                        <h3>Image</h3>
                                    </div>
                                    <div class="col-sm-2">
                                        <h3>Name</h3>
                                    </div>
                                    <div class="col-sm-1">
                                        <h3>Edit</h3>
                                    </div>
                                    <div class="col-sm-2">
                                        <h3>Unit Price</h3>
                                    </div>
                                    <div class="col-sm-2">
                                        <h3> Quantity</h3>
                                    </div>
                                    <div class="col-sm-2">
                                        <h3>SubTotal</h3>
                                    </div>
                                    <div class="col-sm-1">
                                        <h3>Delete</h3>
                                    </div>
        
                                </div>
                                <hr>
                            </div>
                        
                        <div class="product_detailis row">
                            <div class="col-lg-2 col-md-12">
                                <img src="../../../../assets/images/annisa-ica-2hrKrytSI1Q-unsplash.jpg">
                            </div>
                            <div class="col-lg-2 col-md-12">
                                <h3>asd</h3>
                            </div>
                            <div class="col-lg-1 col-md-12">
                                <h3>Edit</h3>
                            </div>
                            <div class="col-lg-2 col-md-12">
                                <h3>55 LE</h3>
                            </div>
                            <div class="col-lg-2 col-md-12 ">
                                <div style="padding-top: 30px;">
                                    <input type="text" id="quantity" name="quantity" value="1"
                                        style="text-align: center;width: 25%;padding: 10px;border-spacing: #ddd;">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-12">
                                <h3>55</h3>
                            </div>
                            <div class="col-lg-1 col-md-12" style="padding-top: 30px;">
                                <button class="cart">x</button>
                            </div>

                        </div>
                    </div>
                        <hr>
                        
                        <div class=" row">
                            <div class="col-lg-6 col-md-12">

                                <span>
                                    <button class="cart">CONTINUE SHOPPING</button>
                                </span>

                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <span>
                                            <button class="cart">CLEAR SHOPPING CART</button>
                                        </span>
                                    </div>
                                    <div class="col-lg-6 col-md-12 " style="margin: 0%;">
                                        <span>
                                            <button class="cart">UPDET SHOPPING CART</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="row">
                <p>
                    <button class="chekout">PROSSED TO CHECKOUT</button>
                </p>
            </div>
            <div class="frist_row row ">
                <div class="bill container-fluid">
                    <h4>CART TOTALS</h4>
                </div>
            </div>
            <div class="row">
                <div class="subtotal container-fluid ">
                    <div style="padding:20px ;border-bottom:#ddd 2px solid ;">
                        <span class="span1">
                            Subtotal
                        </span>
                        <span class="total">
                            EGP400
                        </span>
                    </div>

                    <div style="padding:20px ;">
                        <span class="span1">
                            Grand Total
                        </span>
                        <span class="total">
                            EGP400
                        </span>
                    </div>
                    <div style="text-align: center;padding-bottom: 20px;padding-top: 10px;">
                        <button class="chekout">PROSSED TO CHECKOUT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 15px;">
        <h2>Based on your selection, you may be interested in the following items:</h2>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <img src="../../../../assets/images/annisa-ica-2hrKrytSI1Q-unsplash.jpg">
                </div>
                <div class="col-lg-6 col-md-6">
                    <p>Gift wrapping Paper-News Paper</p>
                    <h2>EGP500</h2>
                    <button class="cart">ADD TO CART</button>
                </div>
            </div>

        </div>
    </div>
</div> 