<br>
<br>
<br>
<br>
<div class="container">
    <div class="row" class="headline">
        <h1>Login or Create an Account</h1>
    </div>
    <div class="row shadow-sm p-3 mb-5 bg-white " style="border-top: 5px solid #21293c;">
        <div class="container col-6 ">
            <h2 class="new">New Here?</h2>
            <br>
            <h3 class="new">Registration is free and easy!</h3>
            <br>
            <h3 class="new">Faster checkout</h3>
            <h3 class="new">Save multiple shipping addresses</h3>
            <h3 class="new">View and track orders and more</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>
                <button>CREAT AN ACCOUNT</button>
              </p>
        </div>
        <div class="container col-6 ">
            <h2 class="new">Already registered?</h2>
            <br>
            <h3 class="new">If you have an account with us, please log in.</h3>
            <br>
            <p>* Required Fields</p>
            <form action="">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address <em>*</em></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="mb-3 ">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password <em>*</em></label>
                      <input type="password" class="form-control" id="inputPassword">
                  </div> 
                  <h3 class="new">Forgot Your Password?</h3> 
                  <p>
                    <button>LOGIN</button>
                  </p>
            </form>
        </div>
    </div>
  </div>
