<br>
<br>
<br>
<br>
<div class="container">
    <div class="row" class="headline">
        <h1>Reset a Password</h1>
    </div>
    <div class="row shadow-sm p-3 mb-5 bg-white " style="border-top: 5px solid #21293c;">

        <div class="container ">
            <br>
            <p>* Required Fields</p>
            <form action="">
                <div class="row">
                    <div class="col">
                        <label for="exampleFormControlInput1">New Password <em>*</em></label>
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput1">Confirm New Password <em>*</em></label>
                        <input type="password" class="form-control" id="confirmPassword">
                    </div>
                </div>
                
                <br>
                <div>
                    
                            <p>
                                <button>RESET A PASSWORD</button>
                            </p>
                </div>
            </form>
        </div>
    </div>
</div>
