.headline{
    color: #21293c;
    
  }
  .container{
      padding: 30px;
  }
  .new{
      color: #777;
  }
  em{
      color: #EB340A;
  }
  p{
    font-size: 11px;
     text-align: right; 
    color: #EB340A;
  }
 
  button{
    border: 0;
    padding: 15px;
    border-width: 0;
    background: transparent;
    line-height: inherit;
    background-color: #b1e2ff;
    color: #61605a;
    font-weight: 600;
    font-size: 18px;
    text-align: right;
    text-align: center;
    font-family:mOswald;
    /* width: 100px; */
    height: 50px;
}
a{
  float: left;
  color: #21293c;
}
.row {
    
    padding: 12px;
}