<br>
<br>
<br>
<br>
<div class="container">
    <div class="row" class="headline">
        <h1>Create an Account</h1>
    </div>
    <div class="row shadow-sm p-3 mb-5 bg-white " style="border-top: 5px solid #21293c;">

        <div class="container ">
            <h2 class="new">RETRIEVE YOUR PASSWORD HERE</h2>
            <br>
            <h3 class="new">Please enter your email address below. You will receive a link to reset your password.</h3>
            <br>
            <p>* Required Fields</p>
            <form action="">
                <div class="row">
                    <div class="col">
                        <label for="exampleFormControlInput1">Frist Name <em>*</em></label>
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput1">Last Name <em>*</em></label>
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="exampleFormControlInput1">Password <em>*</em></label>
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput1">Confirm Password <em>*</em></label>
                        <input type="password" class="form-control" id="confirmPassword">
                    </div>
                </div>
                
                <div class="row">
                    <h3 >
                        Do You Want To Become Seller / Vendor?
                    </h3>
                    <div class="form-check-inline">
                        <label class=" form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">Yes
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">No
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="">Sign Up for Newsletter
                        </label>
                      </div>
                </div>
                <br>
                <div>
                    <a href="#">
                        << Back </a>
                            <p>
                                <button>REGISTER</button>
                            </p>
                </div>
            </form>
        </div>
    </div>
</div>